name: New Tag Created

on:
  push:
    tags:
      - "**"

jobs:
  test-on-tag:
    uses: ./.github/workflows/test.yml

  create-release-draft:
    runs-on: ubuntu-latest
    needs: [ test-on-tag ]
    permissions:
      contents: write
  
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      
      - name: Create release draft
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          TAG: ${{ github.ref_name }}
        run: gh release create "$TAG" --title="$TAG" --notes-file ./CHANGELOG.md --draft
  

  create-linux-amd64-executable:
    needs: [ create-release-draft ]
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup python
        uses: actions/setup-python@v5
        with:
          python-version: '3.13'

      - name: Create and upload executable
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          TAG: ${{ github.ref_name }}
        run: |
          python -m venv .venv
          source ./.venv/bin/activate
          pip install -r requirements.txt
          pip install pyinstaller
          pyinstaller --hidden-import http.server --hidden-import commands.playlist --add-data=commands:commands --onedir --name spotilistcli app.py
          tar -C dist -czvf dist/spotilistcli_linux_amd64.tar.gz spotilistcli
          gh release upload "$TAG" --clobber dist/spotilistcli_linux_amd64.tar.gz


  create-windows-amd64-executable:
    needs: [ create-release-draft ]
    runs-on: windows-latest
    permissions:
      contents: write
    
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Create and upload executable
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          TAG: ${{ github.ref_name }}
        run: |
          python -m venv .venv
          .\.venv\Scripts\activate
          pip install -r requirements.txt
          pip install pyinstaller
          pyinstaller --hidden-import http.server --hidden-import commands.playlist --add-data=commands:commands --onedir --name spotilistcli app.py
          Compress-Archive -Path dist\spotilistcli -DestinationPath dist\spotilistcli_windows_amd64.zip
          gh release upload "$env:TAG" --clobber dist\spotilistcli_windows_amd64.zip


  create-macos-arm64-executable:
    needs: [ create-release-draft ]
    runs-on: macos-latest
    permissions:
      contents: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Create and upload executable
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          TAG: ${{ github.ref_name }}
        run: |
          python -m venv .venv
          source ./.venv/bin/activate
          pip install -r requirements.txt
          pip install pyinstaller
          pyinstaller --hidden-import http.server --hidden-import commands.playlist --add-data=commands:commands --onedir --name spotilistcli app.py
          tar -C dist -czvf dist/spotilistcli_darwin_arm64.tar.gz spotilistcli
          gh release upload "$TAG" --clobber dist/spotilistcli_darwin_arm64.tar.gz


  publish-release:
    needs: [ create-release-draft, create-linux-amd64-executable, create-windows-amd64-executable, create-macos-arm64-executable ]
    runs-on: ubuntu-latest
    permissions:
      contents: write
    
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Publish release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          TAG: ${{ github.ref_name }}
        run: gh release edit "$TAG" --draft=false
