name: Test

on:
  push:
    branches:
      - '**'
    tags-ignore:
      - '**'
  workflow_call:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
      
      - name: Setup python
        uses: actions/setup-python@v5
        with:
          python-version: '3.13'

      - name: Runs tests
        run: |
          mkdir -p ~/.config/spotilistcli
          cat << EOF > ~/.config/spotilistcli/.env
          SPOTIFY_CLIENT_ID=abcd
          SPOTIFY_CLIENT_SECRET=abcd
          SPOTIFY_REDIRECT_URI=http://127.0.0.1:3000/callback
          EOF
          
          python -m venv .venv
          source ./.venv/bin/activate
          pip install -r requirements.txt
          coverage run -m pytest -v --junitxml=./test_results.xml
          echo "# Test Coverage" >> $GITHUB_STEP_SUMMARY
          coverage report --format=markdown >> $GITHUB_STEP_SUMMARY

      - name: Test build
        run: |
          python -m venv .venv
          source ./.venv/bin/activate
          pip install -r requirements.txt
          pip install pyinstaller
          pyinstaller --hidden-import http.server --hidden-import commands.playlist --add-data=commands:commands --onedir --name spotilistcli app.py
          tar -C dist -czvf dist/spotilistcli_linux_amd64.tar.gz spotilistcli